In [ ]:
#Question1
x = input("please enter your name : ")
y = input("please enter your first name : ")
print(x[::-1] , y[::-1])

please enter your name : Harhad
please enter your first name : Anes
dahraH senA

In [ ]:
#Question2
x = int(input( "enter a number : "))
y = str(x) + str(x)
z = str(x) + str(x) + str(x) 

print(x + int(y) + int(z))

enter a number : 5
615

In [ ]:
#Question3
x = int(input("enter your number : "))
if x%2 == 0 :
  print("your number is an EVEN")
else :
  print("your number is an ODD")

enter your number : 12
your number is an EVEN

In [10]:
#Question4
x = range(2000,3201)
for n in x :
  if (n%7 == 0) and not (n%5 == 0) : 
    print(n, end=" , ")

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

In [ ]:
#Question5
def factorial(y) :
  f = 1  
  for i in range(1 , y+1) :
    f = f * i
  return f

x = int(input("Please enter your number : "))
result = factorial(x)
print("the factorial of", str(x) , "is : " , result)

Please enter your number : 4
the factorial of 4 is :  24

In [1]:
#Question6
x = input("Please enter your sentence : ")
y = ""
for i in range(len(x)):
    if i%2 != 0 :
        y = y + x[i]       
print("Your sentence without odd index is :", y)

Please enter your sentence : helloeveryone
Your sentence without odd index is : eleeyn

In [4]:
#Question7
x = int(input("please enter your price : "))
if x >= 500 :
  print("Your price after discounting of 50% is : " + str(x*(1-(50/100))))
elif 200 <= x < 500 :
  print("Your price after discounting of 30% is : " + str(x*(1-(30/100))))
else :
  print("Your price after discounting of 10% is : " + str(x*(1-(10/100))))

print("You're welcome")

please enter your price : 199
Your price after discounting of 10% is : 179.1
You're welcome